<h1>Day Planner</h1>

<ul>
  {{#each plans}}
  <li>
    <p>
      {{id}}. {{plan}}
      <button data-id="{{id}}" class="delete-button">Delete</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create</h2>
<form id="create-form" class="button-size">
  <input type="text" name="plan"></input>
  <button type="submit">Create</button>
</form>

<h2>Update</h2>
<form id="update-form">
  <select name="id">
    {{#each plans}}
    <option value="{{id}}">{{plan}}</option>
    {{/each}}
  </select>
  <input type="text" name="plan"></input>
  <button type="submit">Update</button>
</form>

<script type="text/javascript">
  $("#create-form").on("submit", e => {
    e.preventDefault();
    // get the new plan by finding an element with a "name"
    // attribute equal to the string "plan" in create-form
    const newPlan = { plan: $("#create-form [name=plan]").val() };

    // Send the POST request
    $.ajax("/api/plans", { method: "POST", data: newPlan })
      .then(() => {
        console.log("created plan");
        location.reload();
      });
  });

  $("#update-form").on("submit", e => {
    e.preventDefault();
    const id = $("#update-form [name=id]").val();
    const updatedPlan = { plan: $("#update-form [name=plan]").val() };

    $.ajax("/api/plans/" + id, { method: "PUT", data: updatedPlan })
      .then(() => {
        console.log("updated plan id:", id);
        location.reload();
      });
  });

  $(".delete-button").on("click", function (e) {
    // get the ID from the button
    //const id = $(this).attr("data-id");
    const id = $(this).data("id");
    $.ajax("/api/plans/" + id, { method: "DELETE" })
      .then(() => {
        console.log("deleted plan id:", id);
        location.reload();
      });
  });

</script>